<head>
    <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="registroestudiante.component.css">
    </head>
 <div class="header">
        <a href="#default" class="logo">Skill<span class="up">Up</span></a>
        <div class="header-right">
            <a rel="noopener" href="../app.component.html">Inicio</a>
          <a href="#sn">Sobre Nosotros</a>
          <a href="#about">Nuestro proyecto</a>
          <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <button type="submit">Buscar</button>
          </div>
        </div>
      </div>
    <div class="titulo-container">
      <h1>Comencemos</h1>
    </div>  
    <div class="white-box">
        <div class="grid-container">
            <div class="element-1">
                <div class="grid-2-cols">
                    <div class="grid-item-1">
                        <div class="grid-item 1 button">
                            <div class="button-container">
                                <button>Estudiante</button>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item-2">
                        <div class="grid-item 2 button">
                            <div class="button-container">
                                <a class="a" rel="noopener" href="../registroempresa/registroempresa.component.html">Empresa</a> 
                            </div>                          
                        </div>
                    </div>
                    <div class="grid-item-3">
                        <div class="form-container">
                            <form>
                                <label for="nombre">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre">
                                <label for="apellidos">Apellidos:</label>
                                <input type="text" id="apellidos" name="apellidos" [(ngModel)]="apellidos">
                                <label for="correo">Correo:</label>
                                <input type="email" id="correo" name="correo" [(ngModel)]="correo">
                                <label for="contraseña">Contraseña:</label>
                                <input type="password" id="contraseña" name="contraseña" [(ngModel)]="password">
                                <label for="cv">Currículum (PDF):</label>
                                <label for="cv" class="custom-file-upload">Seleccionar archivo</label>
                                <input type="file" id="cv" name="cv" accept=".pdf" (change)="onFileSelected($event)">
                            </form>
                        </div>
                    </div>
                    <div class="grid-item-4">
                        <label for="profile-picture" class="profile-picture-label">
                            <div class="profile-picture">
                                <img id="profile-picture-img" src="https://us.123rf.com/450wm/thesomeday123/thesomeday1231709/thesomeday123170900021/85622928-icono-de-perfil-de-avatar-predeterminado-marcador-de-posici%C3%B3n-de-foto-gris-vectores-de.jpg?ver=6" alt="Foto de perfil" alt="Foto de perfil">
                            </div>
                        </label>
                        <input type="file" id="profile-picture" name="profile-picture" accept=".png, .jpg, .jpeg" style="display: none;">        
                    </div>
                    <script src="registroestudiante.component.js"></script>
                </div>
            </div>
        </div>
        <button class="registrate" (click)="createStudent()">Regístrate!</button>
    </div>