body {
    font-family: Arial, sans-serif;
  }
      /*BARRA SUPERIOR*/

.grid {
    display: grid;
    grid-template-rows: auto 1fr; /* Cambia a dos filas, la primera con altura automática */
     align-content:start;
  }

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #F2B477;
  padding: 20px 10px;
  justify-content: space-between;
  align-items: center;
}

.header .search-bar {
  float:left;
  margin-bottom:auto;
  margin-top:10px;
}

.header .search-bar input[type="text"] {
  padding: 8px;
  border-radius: 60px;
  border: none;
  margin-right: 6px;
  margin-bottom:auto;
  margin-top:auto;
}

.header .search-bar button[type="submit"] {
  padding: 8px 12px;
  border-radius: 60px;
  background-color: #1C748C;
  color: white;
  border: none;
}

/* Style the header links */
.header a {
  float: left;
  color: #434343;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  border-radius: 4px;
  text-transform: none;
  font-family: Helvetica;
  letter-spacing: 4px;
  font-weight: bold;
  text-decoration: none;
  font-weight: 900;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 50px;
  font-weight: bold;
  color: FFFFFF;
  font-weight: 900;
  font-family: Helvetica;
  letter-spacing: 4px;
  color: #FFFFFF;
}


/* Change the color of up */
.header a.logo .up {
  color: #1C748C;
}

/* Change the background color on mouse-over */
.header a:not(.logo):hover {
  color: #1C748C;
}

/* Style the active/current link 
.header a.active {
  color: #1C748C;
}*/

/* Float the link section to the right */
.header-right {
  float: right;
}   

.white-box { 
  justify-self: center;
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: grid;
  min-height: 670px;
  min-width: 600px;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto; /* Cambia a dos filas de altura automática */
  gap: 15px;
  height: 100%;
  align-content:start;
}

/* element-1===BOTONES EMPLEO-CURSO*/
.element-1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crea 2 columnas de igual ancho */
    grid-gap: 40px; /* Espacio entre los elementos */
    margin-right:20%;
    margin-left:20%;
    margin-top:45px;
    
}

.element-1 button {
    width: 100%; /* El botón abarcará todo el ancho de su columna */
    padding: 10px;
    font-size: 15px;
    font-family:helvetica;
    font-weight:bolder;
    border: none;
    background-color: antiquewhite;
    color:  #F2B477;
    cursor: pointer;
    letter-spacing: 4px;
    border-bottom: 4px solid #F2B477;
}

.element-1 a:hover {
  background-color: antiquewhite;
}

.element-1 a {
  padding: 10px;
  font-size: 15px;
  font-family:helvetica;
  font-weight:bolder;
  border: none;
  color:  #F2B477;
  cursor: pointer;
  letter-spacing: 4px;
  text-align: center;
  text-decoration: none;
}

/* element-2===TÍTULO PUBLICACIÓN */

.element-2 input {
    width: 100%;
    font-size: 35px;
    color: #434343;
    border: none;
    padding: 20px;
    text-align: center;
    background-color: transparent;
    margin-bottom: -40px;
  }

.element-2 input::placeholder {
  font-style: italic; /* Estilo en cursiva para el texto predeterminado */
}

/* element 4: grid de el formulario*/
.element-4 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom:-50px;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right:90px;
  margin-left:90px;
}

/*grid-item-1 primera columna: ÁREA, COSTO, */

.grid-item-1 form, .grid-item-2 form{
  padding: 20px;
}
.grid-item-1 label{
  font-size:18;
  font-weight:lighter;
  color:#434343;
}

.grid-item-1 input, .grid-item-1 select {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #E6F4F8;
  border:none;
  height: 40px;
}


/* textarea===Descripción General*/
textarea {
  margin-top:20px;
  resize: none; /* Desactiva la esquina de redimensionamiento */  
  height: 79%; /* Altura fija del textarea */
  width: 100%; /* Ancho responsive según la pantalla */
  padding: 10px; /* Espaciado interno */
  border: none;
  font-family: Arial, sans-serif; /* Fuente */
  font-size: 13px; /* Tamaño de fuente */
  color: #333; /* Color de texto */
  background-color: #E6F4F8; /* Color de fondo */
}

textarea::placeholder {
    font-style: italic;
  }

/*element-5= BOTÓN GUARDAR*/

.element-5{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}

.element-5 input[type="submit"] {
    background-color: #f2b477;
    color: #ffffff;
    padding: 15px 40px;
    font-size: 18px;
    letter-spacing: 2px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
  
.element-5 input[type="submit"]:hover {
    /* Estilos cuando el botón está en hover */
    background-color: #e89f6b;
}

    ::-webkit-scrollbar {
        background-color:transparent;
    }

    /* Estilo del cilindro de la barra de desplazamiento */

    ::-webkit-scrollbar-thumb {
        background-color: #2222;
        /* color del cilindro */
        border-radius: 10px;
        height: 50px;
    }
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    margin-left:none;
  }
  .header-right {
    float: none;
  } 
   .element-3 {
     grid-template-rows: auto 1fr;
  }
}

.center-line {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: black;
    z-index: 9999; /* Asegura que se superponga sobre todo */
  }
