<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #8e81d3;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1{
      text-rendering: optimizeSpeed;
      font-size: 20px;
      font-family: Arial;
      font-weight: bold;
      line-height: 70px;
      color: #434343;
      letter-spacing: .3px;
      position:relative;
      top: 0%;
      left: 0%;
      text-align: center;
      text-align-last: center;
  }

  form {
      text-rendering: optimizeSpeed;
      font-size: 16px;
      font-family: Arial;
      line-height: 26px;
      color: #434343;
      letter-spacing: .3px;
      position:relative;
      top: 0%;
      left: 0%;
      text-align: right;
      text-align-last: left;
      font-weight: bold;
    }


  /*Encabezado*/
  .toolbar { 
    position: absolute;
    top: 0;
    left: 30;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #1C748C;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-family: Helvetica;
    font-size: 50px;
    letter-spacing: 4px;
  }

  .toolbar .skill {
    color: #FFFFFF; /* color blanco */
  }
      
  .toolbar .up {
    color: #F2B477; /* color azul */
  }

  .toolbar .navigation {
    position: relative;
    left: 500px;
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 16px;
  }
  

  .navigation a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .navigation a:hover {
    color: #F2B477;
  }

  .search-form {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    border-radius: 30px;
    overflow: hidden;
  }
      
  .search-form input[type="search"] {
    width: 200px;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .search-form button[type="submit"] {
    width: 50px;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 16px;
    color: #F2B477;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .search-form button[type="submit"] i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  /*fin de encabezado*/

  /*cuadro blanco*/
  .white-box {
        margin-top: 1px;
        position: absolute;
        top: 15%;
        left: 45%;
        /*transform: translate(-50%, -50%);*/
        width: 50%;
        height: 70%;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
</style>

<body style="background-color: #1C748C;"></body>
  <!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="skill">Skill</span><span class="up">Up</span>
    <nav class="navigation">
      <a href="#">INICIO</a>
      <a href="#">SOBRE NOSOTROS</a>
      <a href="#">NUESTRO PROYECTO</a>
    </nav>
    <form class="search-form">
      <input type="search" placeholder="Buscar...">
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>


  <!-- RECTÁNGULO BLANCO -->
<div class="white-box">
  <h1>Iniciar Sesión</h1>
 
  <form>
    <input type="radio" name="opcion" value="estudianteU" id="estudianteU">
    <label style="margin-right: 250px;" for="estudianteU">Usuario estudiante </label> 
    <input type="radio" name="opcion" value="empresaU" id="empresaU">
    <label for="empresaU">Usuario empresa</label><br>
  </form>

  <label for="nombre">EMAL</label>
  <input type="text" id="nombre" name="nombre">
  <label for="nombre">CONTRASEÑA</label>
  <input type="text" id="nombre" name="nombre">
  <button>Iniciar Sesion</button>
  <p>¿No tienes una cuenta?</p>
  <a href="landing/landing.component.html">Registrate aquí</a>

</div>


