<head>
    <link rel="stylesheet" type="text/css" href="iniciosesion.component.css">
</head>

<body style="background-color: #1C748C;"></body>
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
      <span class="skill">Skill</span><span class="up">Up</span>
        <nav class="navigation">
          <a href="#">INICIO</a>
          <a href="#">SOBRE NOSOTROS</a>
          <a href="#">NUESTRO PROYECTO</a>
        </nav>
        <form class="search-form">
          <input type="search" placeholder="Buscar...">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>