
<head>
    <link rel="stylesheet" type="text/css" href="landing.component.css">
  </head>

<body style="background-color: #F2B477;"></body>  
<!-- BARRA SUPERIOR -->
<div class="toolbar" role="banner">
    <img width="40" />
    <span class="skill">Skill</span><span class="up">Up</span>
    <div class="navigation">
      <a href="#">INICIO</a>
      <a href="#">SOBRE NOSOTROS</a>
      <a href="#">NUESTRO PROYECTO</a>
    </div>
    <form class="search-form">
      <input type="search" placeholder="Buscar...">
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
  
  <!-- Encabezado "Comencemos" -->
<div class="title">
    <h1>Comencemos</h1>
  </div>

<!-- RECTÁNGULO BLANCO -->
<div class="white-box">
    <div class="button-container">
      <button>Estudiante</button>
      <button>Empresa</button>
    </div>
    <div class="form-container">
      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos">
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo">
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña">
        <label for="curriculum">Currículum (PDF):</label>
        <input type="file" id="curriculum" name="curriculum" accept=".pdf">
      </form>
    </div>
    <div class="upload-container">
      <div class="image-container">
        <!-- Imagen de perfil -->
      </div>
      <button class="upload-button">+</button>
    </div>
    <input type="submit" value="Registrarse">
  </div>
  

  
  <router-outlet></router-outlet>
  