header {
 display: grid;
 grid-template-columns: auto 1fr auto;
 align-items: center;
 padding: 10px;
}
.toolbar {
   color: rgb(0, 0, 0);
   font-weight: 900;
   font-family: Helvetica;
   font-size: 300%;
   letter-spacing: 4px;
}
 .toolbar .skill {
   color: #FFFFFF;
   /* color blanco */
}
 .toolbar .up {
   color: #1C748C;
   position: absolute;
   /* color azul */
}

.logo {
 font-size: 24px;
 font-weight: bold;
}

.nav-items {
   display: flex;
   justify-content: flex-end;
   margin: 0;
   padding: 0;
   list-style-type: none;
}
     
nav ul {
 display: grid;
 grid-auto-flow: column;
 grid-gap: 20px;
 list-style: none;
 margin-right: 10%;
 display: flex;
 justify-content: flex-end;
}

nav a {
 color: #ffffff;
 text-transform: uppercase;
 font-weight: bold;
 text-decoration: none;
}

nav a:hover {
 text-decoration: underline;
}

.search-bar {
 display: flex;
 align-items: center;
}

.search-bar input[type="text"] {
 border: none;
 background-color: #ffffff;
 border-radius: 20px;
 padding: 10px;
 font-size: 16px;
 margin-right: 10px;
 width: 200px;
}

.search-bar button {
 border: none;
 background-color: #ffffff;
 border-radius: 20px;
 padding: 10px;
}

.fa-search {
 font-size: 16px;
}

.white-box {
 margin-top: 180px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 80%;
 height: 70%;
 border-radius: 50px;
 background-color: white;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 display: grid;
 align-items: center;
}

.grid-container {
 display: grid;
 grid-template-rows: auto auto; /* Dos filas de altura automática */
 gap: 10px;
 height: 100%;
}

.element-1 {
 font-family: Helvetica;
 color: gray;
 aling-display: grid;
 grid-template-rows: 1fr 1fr; /* Dos filas de igual altura */
 gap: 10px;
 margin-bottom:-10%;
}

.grid-2-cols {
 display: grid;
 grid-template-columns: 1fr 1fr; /* Dos columnas de igual anchura */
 gap: 10px;
}
/*Botón estudiante*/
.grid-item-1 {
   display: flex;
   justify-content: center;
}
/*Botón empresa*/
.grid-item-2 {
   display: flex;
   justify-content: center;
}

.button-container button {
       padding: 4% 18%; 
       border: none;
       background: none;
       font-family: Arial;
       font-size: 100%;
       font-weight: bold;
       color: #F2B477;
       text-transform: uppercase;
       letter-spacing: 3px;
     }

.grid-item-1 button {
  background-color: antiquewhite;
  margin-bottom: 20%;
  margin-top: 40px;
  border-bottom: 4px solid #F2B477;
}

.grid-item-2 button {
   margin-bottom: 20%;
   margin-top: 40px;
}

.button-container button:hover {
   background-color: antiquewhite;
}

/*Formulario*/
.grid-item-3 {

}
.form-container {
   width: 80%;
   padding: 3px;
   margin-left: 10%;
}
.form-container form {
   flex-direction: column;
}

.form-container label {
   margin-top: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="file"] {
width: 100%;
padding: 10px;
margin-top: 1px;
border-color: #ccc;
border-width: 1px;
}

/*Subir foto*/
.grid-item-4 {
 background-color: lightsalmon; /* Nuevo elemento con fondo color salmon */
}

/*Botón Registrarse*/
.element-2 {
 display: flex;
 justify-content: center;
}

.element-2 input[type="submit"] {
       width: 150px;
       height: 60px;
       padding: 0;
       border: none;
       outline: none;
       background-color:#F2B477;
       font-size: 16px;
       color: #ffffff;
       border-radius: 50px;
       align-self: end;
       }