<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="verficarempresas-a.component.css">
  </head>
      <div class="grid">
        <div class="header">
        <div class="admin-text">Administrador</div>
        <a href="#default" class="logo">Skill<span class="up">Up</span></a>
        <div class="header-right">
          <a>Verificar Empresas</a>         
        </div>
      </div>
        <div class="white-box">
          <!-- Contenido del grid -->
          <div class="grid2">
            <div class="row1">
              <!-- Contenido de la primera fila (verificar empresas) -->
              <span class="texto">VERIFICAR EMPRESAS</span>
            </div>
            <div class="row2">
                <div class="empresas-container" *ngFor="let empresa of empresas">
                  <div class="empresa">
                    <h2>Nombre: {{ empresa.nombre }}</h2>
                    <p>Correo: {{ empresa.correo }}</p>
                    <p>RFC: {{ empresa.rfc }}</p>
                    <p>Dirección: {{ empresa.domicilio }}</p>
                    <div class="botones-empresa">
                      <button class="boton-activar" (click)="verificar(empresa.id)">Activar</button>
                    </div>
                  </div>   
                </div>
              </div>
          </div>
        </div>
      </div>

  
  