<head>
    <meta charset="utf-8">
    <script src="registroempresa.component.js"></script>
      <link rel="stylesheet" type="text/css" href="registroempresa.component.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="#default" class="logo">Skill<span class="up">Up</span></a>
            <div class="header-right">
                <a rel="noopener" href="../app.component.html">Inicio</a>
              <a href="#sn">Sobre Nosotros</a>
              <a href="#about">Nuestro proyecto</a>
              <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <button type="submit">Buscar</button>
                </div> 
            </div>
        </div>
    </header>
    
    <div class="titulo-container">
      <h1>Comencemos</h1>
    </div>  
    <div class="container">
    <div class="white-box">
        <div class="grid-container">
            <div class="element-1">
                <div class="grid-2-cols">
                    <div class="grid-item-2">
                        <div class="grid-item-2">
                            <div class="grid-item 2 button">
                                <div class="button-container">
                                    <a class="a" rel="noopener" (click)="irAEstudiante()">Estudiante</a> 
                                </div>                          
                            </div>
                        </div>
                    </div>
                    <div class="grid-item-1">
                        <div class="grid-item 1 button">
                            <div class="button-container">
                                <button>Empresa</button>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item-3">
                        <div class="form-container">
                            <form>
                                <label for="nombre">Nombre de la empresa:</label>
                                <input type="name" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                                <div *ngIf="!nombre" class="error-message">*Campo obligatorio</div>
                                <label for="correo">Correo:</label>
                                <input type="email" id="correo" name="correo" [(ngModel)]="correo" required>
                                <div *ngIf="!correo" class="error-message">*Campo obligatorio</div>
                                <label for="contraseña">Contraseña:</label>
                                <input type="password" id="contraseña" name="contraseña" [(ngModel)]="password" required>
                                <div *ngIf="!password" class="error-message">*Campo obligatorio</div>
                                <label for="RFC">RFC:</label>
                                <input type="rfc" id="RFC" name="RFC" [(ngModel)]="rfc" required>
                                <div *ngIf="!rfc" class="error-message">*Campo obligatorio</div>
                                <label for="direccion">Domicilio:</label>
                                <input type="address" id="direccion" name="direccion" [(ngModel)]="domicilio" required>
                                <div *ngIf="!domicilio" class="error-message">*Campo obligatorio</div>
                            </form>
                        </div>
                    </div>
                    <div class="grid-item-4">
                        <label for="profile-picture" class="profile-picture-label">
                            <div class="profile-picture">
                                <img id="profile-picture-img" src="https://icones.pro/wp-content/uploads/2021/07/icone-d-affaires-et-d-entrepreneurs-gris.png" alt="Foto de perfil">
                            </div>
                        </label>
                        <input type="file" id="profile-picture" name="profile-picture" accept=".png, .jpg, .jpeg" style="display: none;">        
                    </div>
                    <script src="registroempresa.component.js"></script>
                </div>
            </div>
        </div>
        <button class="registrate" (click)="createStudent()">¡Regístrate!</button>
        <div *ngIf="showMessage" class="mensaje">¡Registro exitoso! Espera a que tu cuenta sea verificada e inicia sesión</div>
    </div>
    </div>
</body>