body {
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Agrega un scroll vertical a la página completa */
  background-image: linear-gradient(to bottom, #F2B477, #1C748C);
  background-attachment: fixed;
}

.grid {
  display: grid;
  grid-template-rows: auto auto 1fr;
  align-items: center;
  overflow-y: auto;

}

/*BARRA SUPERIOR*/
.header {
  overflow: hidden;
  background-color: none;
  padding: 20px 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
 
.header .search-bar {
  float:left;
  margin-bottom:auto;
  margin-top:10px;
}
 
.header .search-bar input[type="text"] {
  padding: 8px;
  border-radius: 60px;
  border: none;
  margin-right: 6px;
  margin-bottom:auto;
  margin-top:auto;
}
 
.header .search-bar button[type="submit"] {
  padding: 8px 12px;
  border-radius: 60px;
  background-color: #1C748C;
  color: white;
  border: none;
}
 
/* Style the header links */
.header a {
  float: left;
  color: #434343;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  border-radius: 4px;
  text-transform: none;
  font-family: Helvetica;
  letter-spacing: 4px;
  font-weight: bold;
  text-decoration: none;
  font-weight: 900;
}
 
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 50px;
  font-weight: bold;
  color: FFFFFF;
  font-weight: 900;
  font-family: Helvetica;
  letter-spacing: 4px;
  color: #FFFFFF;
}
 
 
/* Change the color of up */
.header a.logo .up {
  color: #1C748C;
}
 
/* Change the background color on mouse-over */
.header a:not(.logo):hover {
  color: #1C748C;
}
 
/* Style the active/current link */
.header a.active { 
  color: #1C748C;
}
 
/* Float the link section to the right */
.header-right {
  float: right;
}
/*COMENCEMOS*/
.titulo-container {
  padding: 20px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.titulo-container h1 {
  margin-bottom: 0;
  font-size: 6vh;
  color: #333;
  font-family: Helvetica, sans-serif;
  letter-spacing: 4px;
  font-weight: bolder;
}

.white-box {
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  min-width: 500px;
}



/*GRID DEL CUADRO BLANCO*/
.grid-container {
  display: grid;
  grid-template-rows: auto auto;
  /* Tres filas de altura automática */
  grid-row-gap: 10px; /* Cambia "vpx" a "10px" o el tamaño que desees */
  height: 100%;
  display: flex;
  margin-bottom: 100px;
}
/*BOTONES, FORMULARIO, FOTO*/
.element-1 {
  font-family: Helvetica;
  color: gray;
  grid-template-rows: 1fr 1fr;
  /* Dos filas de igual altura */
  gap: 10px;
  margin-bottom: -10%;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Dos columnas de igual anchura */
  gap: 10px;
}

/*Botón estudiante*/
.grid-item-1 {
  display: flex;
  justify-content: center;
}

/*Botón empresa*/
.grid-item-2 {
  display: flex;
  justify-content: center;
}
  
.a, .button-container button { 
  padding: 4% 18%;
  border: none;
  background: none;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: #F2B477;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 50%;
  text-decoration: none;
}
.button-container a {
  display: flex;
}

.grid-item-1 button{
  background-color: antiquewhite;
  margin-bottom: 20%;
  margin-top: 70px;
  border-bottom: 4px solid #F2B477;
}

.button-container a:hover {
  display: inline-block;
  background-color: antiquewhite 
}
  /*Formulario*/
  
  .form-container {
    width: 80%;
    padding: 3px;
    margin-left: 5vw;
  }
  
  .form-container form {
    flex-direction: column;
  }
  
  .form-container label {
    margin-top: 5px;
    font-size: 15px;
  }
  
  .form-container input[type="name"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container input[type="RFC"],
  .form-container input[type="address"] {
    width: 100%;
    padding: 3%;
    margin-top: 1px;
    border-color: #ccc;
    border-width: 1px;
  }
  
  /*Subir foto*/
  
  .grid-item-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-picture {
    position: relative;
    height: 30vh;
    overflow: hidden;
  }
  
  .profile-picture img {
    background-color: #DBDBDB;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /*BOTON REGISTRARSE*/
  
  .registrate {
    width: 150px;
    height: 60px;
    padding: 0;
    border: none;
    outline: none;
    background-color: #F2B477;
    font-size: 16px;
    color: #ffffff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    }
    
    /* Estilo del cilindro de la barra de desplazamiento */
    ::-webkit-scrollbar-thumb {
    background-color: #7777; /* color del cilindro */
    border-radius: 10px;
    height: 50px;
    }
  
  