<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="administrarpublicaciones-t.component.css">
    <script src="administrarpublicaciones-t.js"></script>
  </head>
      <div class="grid">
        <div class="header">
        <a href="#default" class="logo">Skill<span class="up">Up</span></a>
        <div class="header-right">
          <a>Administrar Publicaciones</a> 
        </div>
      </div>
        <div class="white-box">
          <!-- Contenido del grid -->
          <div class="grid2">
            <div class="grid-item row1">
              <!-- Contenido de la primera fila dividida en dos columnas -->
              <div class="grid">
                <div class="grid-trabajos-1">OFERTAS TRABAJO</div>
                <a class="grid-cursos-2" (click)="irACursos()">CURSOS</a>
              </div>
            </div>
            <div class="row2">
                <div class="search-bar">
                  <input type="text" placeholder="Buscar" [(ngModel)]="busqueda">
                  <button type="submit" (click)="buscar()">Buscar</button>
                </div>
                <div class="publicaciones-container">
                  <div class="publicacion" *ngFor="let publicacion of publicaciones">
                    <h2>{{ publicacion.titulo }}</h2>
                    <p>Área: {{ publicacion.area }}</p>
                    <p>Sueldo: {{ publicacion.sueldo }}</p>
                    <p>Modalidad: {{ publicacion.modalidad }}</p>
                    <p>Ubicación: {{ publicacion.ubicacion }}</p>
                    <p>Fecha: {{ publicacion.date }}</p>
                    <p>Horario: {{ publicacion.horario }}</p>
                    <p>Publico: {{ publicacion.publico }}</p>
                    <p>Descripción: {{ publicacion.descripcion }}</p>
                    <p>Estatus: {{ publicacion.estatus }}</p>
                    <div class="botones-publicacion">
                      <button class="boton-modificar" (click)="modificar(publicacion.id)">Modificar</button>
                      <button class="boton-eliminar" (click)="eliminar(publicacion.id)">Eliminar</button>
                    </div>
                  </div>  
                </div>
              </div>
          </div>
        </div>
      </div>
      <div id="ventanaEmergente" class="ventana-emergente">
        <div class="contenido-ventana">
          <h2>Editar Publicación</h2>
          <form onsubmit="guardarCambios(event)">
            <input type="hidden" id="indice" value="">
            <label>Título:</label>
            <input type="text" id="titulo" required>
            <label>Área:</label>
            <input type="text" id="area" required>
            <label>Sueldo:</label>
            <input type="text" id="sueldo" required>
            <label>Modalidad:</label>
            <input type="text" id="modalidad" required>
            <label>Ubicación:</label>
            <input type="text" id="ubicacion" required>
            <label>Horario:</label>
            <input type="text" id="horario" required>
            <label>Descripción:</label>
            <textarea id="descripcion" required></textarea>
            <div class="botones-ventana">
              <button type="submit">Guardar</button>
              <button type="button" onclick="cerrarVentanaEmergente()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="rectangulo"> </div>
  
  