<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="crearpublicacion-c.component.css">
</head>

<body style="background-image: linear-gradient(to bottom, #F2B477, #F2B477);background-attachment: fixed; overflow: auto;">

</body>
<div class="grid">
    <div class="header">
  <a href="#default" class="logo">Skill<span class="up">Up</span></a>
  <div class="header-right">
    <a class="active" href="#inicio">Inicio</a>
    <a href="#sn">Sobre Nosotros</a>
    <a href="#about">Nuestro proyecto</a>
    <div class="search-bar">
      <input type="text" placeholder="Buscar">
      <button type="submit">Buscar</button>
    </div>
  </div>
</div>
    <div class="white-box">
      <div class="grid-container">
           <div class="element-1">
                <button class="btn-1">EMPLEO</button>
                <button class="btn-2">CURSO</button>
            </div>
            <div class="element-2"> 
                <input type="text" placeholder="Título de la publicación...">            
            </div>
             <div class="element-3">
             </div>
        <div class="element-4">
          <div class="grid-2-cols">
            <div class="grid-item-1">
                <form>
                    <label for="area">ÁREA:</label>
                    <input type="text" id="area" name="area" required>
                    <label for="costo">COSTO:</label>
                    <input type="text" id="costo" name="costo" required>
                    <label for="modalidad">MODALIDAD:</label>
                    <select id="modalidad" name="modalidad" required>
                      <option value="presencial">Presencial</option>
                      <option value="virtual">Virtual</option>
                      <option value="mixta">Mixta</option>
                    </select>
                    <label for="ubicacion">UBICACIÓN:</label>
                    <input type="text" id="ubicacion" name="ubicacion">
                    <label for="horario">HORARIO:</label>
                    <input type="text" id="horario" name="horario" required>
                 </form>
            </div>
            <div class="grid-item-2">  
                 <form>
                    <textarea rows="4" cols="50" placeholder="Descripción general..."></textarea>
                 </form>
            </div>
          </div>
        </div>
        <div class="element-5">
            <input type="submit" value="Publicar">
        </div>
      </div>
    </div>
</div>

